<?xml version='1.0' encoding='UTF-8'?> 
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
                        
<mapper namespace="click">
 
  <update id="hitUpdate" parameterType="int" >
    <![CDATA[
     	update img_read set hit=hit+1 where img_seq=#{img_seq}
    ]]>
  </update>  
 
  
  
</mapper>                        

