<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
					    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="search">

	<select id="getSearchList" resultType="com.tjoeun.spring.beans.ProductDTO">
    <![CDATA[
       select product_id,product_name,product_en_name,product_color,product_price,product_origin,product_img,product_purchase_img,product_info
       from product_table
       where product_color=#{sh} or product_name=#{sh}
    ]]>
	</select>
	
</mapper>